.base-view {
    -fx-pref-width: 960;
    -fx-pref-height: 540;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.initial-view {
    -fx-background-image: url("../images/initial_view.png");
}

.choose-view {
    -fx-background-image: url("../images/choose_view.png");
}

.default-view-1 {
    -fx-background-image: url("../images/default_view1.png");
}